/* .button {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 15px;
  border-color: rgba(49, 36, 25);
}

.title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 30px;
}

.micro-text {
  padding-top: 3px;
  padding-bottom: 3px;
  font-size: 20px;
}

.input {
  width: 100px;
  height: 30px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 15px;
  border-color: rgba(49, 36, 25);
}

.result {
  height: 70px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  font-size: 20px;
  background-color: rgba(49, 36, 25, 0.9);
}

.submit {
  width: 200px;
  height: 50px;
  border-radius: 8px;
  margin-top: 5px;
  margin-bottom: 3px;
  font-size: 15px;
  border-color: rgba(49, 36, 25);
}

.action-section {
  height: 220px;
}

.button-area {
  height: 80px;
} */