#Autosave files
*~
.idea/
net*/
.fake/
packages/
*.iml
.vs/
*.orig
*.lock.json
/UpgradeLog.htm
AppReadme/
*.tmp
temp/*

#build
[Oo]bj/
[Bb]in/
/[Aa]rtifacts
/tools
/version.properties
TestResults/
TestResult.xml
**/dist/
**/.sonarqube/
**/GPUCache
*.dotCover
/UI/build/

# globs
Makefile.in
*.DS_Store
*.sln.cache
*.suo
*.cache
*.pidb
*.userprefs
*.usertasks
config.log
config.make
config.status
aclocal.m4
install-sh
autom4te.cache/
*.user
*.tar.gz
tarballs/
test-results/
Thumbs.db
Desktop.ini
slave_*.log

#Mac bundle stuff
*.dmg
*.app

#resharper
*_Resharper.*
*.Resharper

**/cypress/plugins/
**/cypress/support/**
**/cypress/videos/
**/cypress/screenshots/
**/node_modules/**

**/output/
**/output/videos/
**/output/screenshots/

#vscode
debug.log

#others
latex

# docker volumes
.reporting/
.config/
