.header {
  background-color: rgba(49, 36, 25, 0.8);
  height: 50px;
  padding: 10px 20px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 5%;
}

.header-title {
  font-size: 35px;
}
