.title {
    color: #234987;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
}

.micro-text {
    color: #234987;
    padding-top: 3px;
    padding-bottom: 3px;
    font-size: 20px;
}

.button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 15px;
}

.input {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 15px;
}

.result {
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 20px;
    background-color: rgba(155, 155, 155, 0.9);
}

.submit {
    width: 200px;
    height: 50px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 15px;
}
